#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}
h1{
    font-size: 48px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 16px;
    
}
h6{
    font-size: 14px;
}
body{
    width: 100vw;
    background-color: white;
    font-family: 'Br firma';
    overflow-x: hidden;
}
@font-face {
    font-family: 'Br firma' ;
    src: url('c:\Users\ugoch\Downloads\br-firma\BR Firma Black Italic.otf');
    src: url('c:\Users\ugoch\Downloads\br-firma\BR Firma Black.otf');
    src: url('c:\Users\ugoch\Downloads\br-firma\BR Firma Bold Italic.otf');
    src: url('c:\Users\ugoch\Downloads\br-firma\BR Firma Bold.otf');
    src: url('c:\Users\ugoch\Downloads\br-firma\BR Firma Extra Light Italic.otf');
    src: url('c:\Users\ugoch\Downloads\br-firma\BR Firma Light Italic.otf c:\Users\ugoch\Downloads\br-firma\BR Firma Extra Light.otf');
    src: url('c:\Users\ugoch\Downloads\br-firma\BR Firma Thin.otf c:\Users\ugoch\Downloads\br-firma\BR Firma Light.otf c:\Users\ugoch\Downloads\br-firma\BR Firma Medium Italic.otf c:\Users\ugoch\Downloads\br-firma\BR Firma Medium.otf c:\Users\ugoch\Downloads\br-firma\BR Firma Regular Italic.otf c:\Users\ugoch\Downloads\br-firma\BR Firma Regular.otf c:\Users\ugoch\Downloads\br-firma\BR Firma SemiBold Italic.otf c:\Users\ugoch\Downloads\br-firma\BR Firma SemiBold.otf c:\Users\ugoch\Downloads\br-firma\BR Firma Thin Italic.otf');
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  padding-top: 0;
  background-color: white;
  color: black;
}
.nav-logo {
  height: 30px;
  width: 40px;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-items {
  display: flex;
  gap: 3rem
}
.nav-items li:nth-child(1)::after {
  background-color: black;
  height: 2px;
  width: 20px;
  display: block;
  margin-top: 4px;
  content: "";
}
.nav-items li a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}
ul {
  list-style: none;
}

.login-btn {
  background-color: rgb(235, 119, 119);
  border-radius: 12px;
  padding: 12px 16px;
  color: white;
  border: none;
  font-family: sans-serif;
}
.signup-btn {
  border: 2px solid rgb(235, 119, 119);
  border-radius: 12px;
  padding: 12px 16px;
  color: rgb(235, 119, 119);
  font-family: sans-serif;
}
.open-acct-btn {
  background-color: rgb(235, 119, 119);
  border-radius: 12px;
  padding: 12px 48px;
  color: white;
  border: none;
  font-family: sans-serif;
  margin-bottom: 1.5rem;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem 2rem;
}
.hero-left {
  width: 30vw;
}
.hero-left .hero-logo{
  width: 100%

}
.hero-middle{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 24vw;
}
.hero-right{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 24vw;
}
.card1{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(235, 119, 119);
  border-radius: 12px;
}
.card1 .firstText{
  color: white;
  font-weight: 700;
}
.card1 .secondText{
  color: white;
  font-weight: 700;
}
.card1 .thirdText{
  color: rgb(77, 220, 77);
  font-weight: 700;
}
.hero-button{
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid rgb(235, 119, 119);
  border-radius: 12px;
  height: 36px;
  padding-top: 1px;
  padding-bottom: 1px;
  color: rgb(235, 119, 119);
  justify-content: center;
}
.iconStyle {
  color: rgb(77, 220, 77);
}
.services{
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
  padding: 1rem 2rem;

}
.left-service{
  width: 30vw;
}
.service-button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgb(235, 119, 119);
  width: 12rem;
  height: 3rem;
  border-radius: 12px;
  margin-top: 4rem;
}
.service-button h6{
  color: white;
}

.arrow-icon{
  background-color: white;
  height: 1rem;
  width: 1rem;
  padding: 8px;
  color: rgb(235, 119, 119);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  rotate: -45deg;
}

.right-service{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 50vw;
  justify-content: right;
}

.service-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  gap: 1rem;
  border-radius: 12px;
  width: 16rem;
}

.loan-card ,.wealth-card ,.checking-card, .international-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-weight: medium;
  gap: 1.5rem;
 
}

.loan-style, .wealth-style, .checking-style, .international-style{
  background-color: rgb(235, 119, 119);
  height: 2rem;
  width: 2rem;
  padding: 8px;
  color: white;
  border-radius: 100%;
  align-items: center;
  justify-content: center;              
  -webkit-text-stroke: 2px black;
}
.about{
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  margin-top: 4rem;
}
.about .about-title{
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.about .about-body{
  display: flex;
  justify-content: space-between;
}
.about .about-body .about-body-left{
  width: 40vw;
}
.about .about-body .about-body-left img{
  width: 100%;
}
.about .about-body .about-body-right{
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about .values{
  display: flex;
  flex-direction: column;
 
}
.about .values ul{
  list-style: disc;
  padding-left: 1.5rem;
}

.about .values ul li{
  margin-bottom: 0.5rem;
}
.about .about-us-button{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.about .about-body-right-bottom{
  display: flex;
  gap: 8rem;
  align-items: center;
  
}
.service-button2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgb(235, 119, 119);
  width: 12rem;
  height: 3rem;
  border-radius: 12px;
  color: white;
}

.impact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin-top: 8rem;
}
.impact h5{
  display: flex;
  justify-content: center;
}
#features{
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 1rem 2rem;
    margin-top: 4rem;
    align-items: center;
}
#features .bottom-features{
    display: flex;
    gap: 2rem;
    width: 100vw;
    justify-content: space-between;
    margin-top: 80px;
    
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.bg-pic{
    width: 20rem;
    height: 12rem;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sme{
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 0 16px;
    position: absolute;
    bottom: 0.5rem;
}
.sme h6{
    color: white;
}
.first-card img{
    border-radius: 20px;
}
.second-card img{
    border-radius: 20px;
}
.third-card img{
    border-radius: 20px;
}
.fourth-card img{
    border-radius: 20px;
}
#features .bottom-features .first-card{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20rem;
    height: 12rem;
    align-items: center;
    border-radius: 20px;
}
#features .bottom-features .second-card{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20rem;
    height: 12rem;
    align-items: center;
}
#features .bottom-features .third-card{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20rem;
    height: 12rem;
    align-items: center;
}
#features .bottom-features .fourth-card{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20rem;
    height: 12rem;
    align-items: center;
}

#mobile-app{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 64px;
    margin-top: 200px;
    
    background-color: #e55d87;

}
#mobile-app .left-mobile-app{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 40vw;
}

#mobile-app .left-mobile-app h2{
    color: white;
}
#mobile-app .left-mobile-app h5{
    color: white;
}
#mobile-app .right-mobile-app{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
#mobile-app .right-mobile-app img{
    border-radius: 20px;
}
#mobile-app .right-mobile-app .google-play{
    width: 14rem;
    height: 4rem;
}
#mobile-app .right-mobile-app .app-store{
    width: 14rem;
    height: 4rem;
}